<footer>
	<div class="container">
		<div class="row example">
			<div class="footer-links-main col-md-4">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">Company</p>
				<ul class="footer-a">
					<!-- <li><a href="/blog" class="footernavlink">Blog</a></li> -->
					<li><a href="/services" class="footernavlink">Services</a></li>
					<li><a href="/about" class="footernavlink">About</a></li>
					<li><a href="/contact" class="footernavlink">Contact</a></li>
				</ul>
			</div>
			<!-- <div class="footer-links-main col-sm-3">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">Terms</p>
				<ul class="footer-a">
					<li><a href="/terms" class="footernavlink">Terms and conditions</a></li>
					<li><a href="/privacy" class="footernavlink">privacy policy</a></li>
				</ul>
			</div> -->
			<div class="footer-links-main col-md-4">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">Contact</p>
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;<span class="footer-phone-number">+91 9700784998</span></li>
					<li><a class="footernavlink" href="mailto:team@caravel.ai"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;team@caravel.ai</a></li>
					<li>
						<a href="http://bit.ly/caravellabs" class="footernavlink">
							<div><i class="fa fa-map-marker-alt" aria-hidden="true"></i>Caravel.AI Labs, Hyderabad.</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-links-main col-md-4">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">get in touch with us</p>
				<ul class="footer-a">
					<li><a href="https://twitter.com/caravel_ai" class="footernavlink"><i class="fa fa-twitter-square"></i>&nbsp; Twitter</a></li>
					<li><a href="https://www.facebook.com/CaravelAI/" class="footernavlink"><i class="fa fa-facebook-square"></i>&nbsp; Facebook</a></li>
					<li><a href="https://www.linkedin.com/company/caravel-ai/" class="footernavlink"><i class="fa fa-linkedin"></i>&nbsp; LinkedIn</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7" style="font-size: 12px;color: #666;">Copyright &copy; CARAVEL ONE27 ENTERPRISES PRIVATE LIMITED 2018. All Rights Reserved.</div>
		</div>
	</div>
</footer>

<!-- <section class="footer" style="background-color: #000;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-3 example">
        <div class="footerimage">
          <img src="/images/caravel.png" width="120">
        </div>
        <span class="footerparagraph">
          <strong>Carvel AI</strong> <br>
          © caravel AI 2019 all rights reserved
        </span>
      </div>
      <div class="col-md-4 col-xs-3 ">
        <ul class="footerlinks">
          <li class="footeritem">
            Press Room
          </li>
          <li class="footeritem">
            Privacy Policy
          </li>
          <li class="footeritem">
            Terms and Conditions
          </li>
          <li class="footeritem">
            Contact
          </li>
        </ul>

      </div>
      <div class="col-md-4 col-xs-3 ">
        <ul class="footerlinks">
          <li class="icon">
            <i class="fa fa-facebook-square" style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;Facebook </i>
          </li>

          <li class="icon">
            <i class="fa fa-instagram" style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;Instagram </i>

          </li>

          <li class="icon">
            <i class="fa fa-github-square" style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;Github </i>
          </li>
          <li class="icon">
            <i class="fa fa-medium" style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;Medium </i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->